{% extends "blog/base.html" %}
{% block content1 %}
<!-- Start of about us 1 -->
    <h1>The web scraping database</h1>
    <h2>About the project</h2>
    <p>Content</p>
<!-- End of about us 1 -->
{% endblock content1 %}


{% block content2 %}
<!-- Start of about us 2 -->
    <h2>Aims of the project</h2>
    <p>Content</p>
<!-- End of about us 2 -->
{% endblock content2 %}
    

{% block content3 %}
<!-- Start of about us 3 -->
    <h2>Creators of the project</h2>
    <p>Content</p>
<!-- End of about us 3 -->
{% endblock content3 %}