{% extends "blog/base.html" %}
{% block htmlTitle %}WSD - Index{% endblock htmlTitle %}
{% block content1 %}
    <!-- Start of new topics section-->
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p style="color: grey;"><i>{{ post.author }} | {{ post.date_posted|date:"d/m/Y" }}</i></p>
                            <p class="card-text">{{ post.content }}</p>
                            <a href="#" class="btn btn-primary">See the whole article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <!-- End of new topics section -->
{% endblock content1 %}

{% block content2 %}
    <!-- Start of voting section -->
        <div class="row">
            <div class="col">
                {% for post in vote1 %}
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">{{ post.topic }}</h4>
                        <p>{{ post.info }}</p>
                        <hr>
                        <button type="button" class="btn btn-success" disabled>Yes</button>
                        <button type="button" class="btn btn-danger" disabled>No</button>
                        <p style="color: grey;"><i>Only registered users can vote</i></p>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for post in vote2 %}
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">{{ post.topic }}</h4>
                        <p>{{ post.info }}</p>
                        <hr>
                        <button type="button" class="btn btn-success" disabled>Yes</button>
                        <button type="button" class="btn btn-danger" disabled>No</button>
                        <p style="color: grey;"><i>Only registered users can vote</i></p>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for post in vote3 %}
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">{{ post.topic }}</h4>
                        <p>{{ post.info }}</p>
                        <hr>
                        <button type="button" class="btn btn-success" disabled>Yes</button>
                        <button type="button" class="btn btn-danger" disabled>No</button>
                        <p style="color: grey;"><i>Only registered users can vote</i></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Topic suggestion" aria-label="Topic suggestion" aria-describedby="button-addon2" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- End of voting section -->
{% endblock content2 %}

{% block content3 %}
    <!-- Start of news and updates section -->
        <div class="jumbotron">
            <h2>{{ version.version }}</h2>
            <p>{{ version.content }}</p>
            <a class="btn btn-lg btn-primary" href="{% url "blog_docs" %}">Documentation</a>
        </div>
    <!-- End of news and updates section -->
{% endblock content3 %}