{% extends "blog/base.html" %}
{% block content1 %}
<!-- start of title area -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Web scraping database news</h1>
        <p>Current version: Alpha 1.0.0</p> <!-- This should become dynamic, so that with each new update it automatically changes to the current version -->
    </div>
</div>
<!-- end of title area -->
{% endblock content1 %}

{% block content2 %}
<!-- start of news article content -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update version 1.0.0</h5>
                    <p style="color: grey;"><i>Date published | Author name</i></p>
                    <p class="card-text">Detailed context</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bug fixes</h5>
                    <p style="color: grey;"><i>Date published | Author name</i></p>
                    <p class="card-text">Detailed context</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Voting results</h5>
                    <p style="color: grey;"><i>Date published | Author name</i></p>
                    <p class="card-text">Detailed context</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Q3 roadmap</h5>
                    <p style="color: grey;"><i>Date published | Author name</i></p>
                    <p class="card-text">Detailed context</p>
                </div>
            </div>
        </div>
    </div>
<!-- end of news article content -->
{% endblock content2 %}